body {
	background: #444446;
	color: #fff;
}

h3 {color: #a9a9ae; }
h4 {color: #a9a9ae; }

input { border: 1px solid #ccc;  }

.navbar {
    background: #444446;
    color: #fff;
}

.navbar a {
    color: #fff;
}

.home-btn a {
	color: #fff;
}

.search-box {
	border: 1px solid #59595c;
}

.search-block input {
	color: #fff;
}

.search-block button {
	color: #fff;
}

.list li h3 {
	color: #fff;
}

.page {
	background: #444446; /* Old browsers */
	background: -moz-linear-gradient(top,  #444446 0%, #161616 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #444446 0%,#161616 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #444446 0%,#161616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444446', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
}

#left-nav ul li span { color: #fff; }

#left-nav a {
	color: #fff;
}

#event-page .event-date, #event-page .event-time {
	color: #fff;
}

.event-date {
	color: #fff;
}

.event-day {
	color: #fff;
}

.event-content {
	color: #dfdfe6;
}

.event-content a {
	color: #d7d7dd;
}

.document-icon {
	color: #fff;
}

#event-sync a {
	color: #fff;
}

.list li {
	border-bottom: 1px solid #59595c;
	color: #fff;
}

.list li a {
	color: #fff;
}

.list .client-phone {
	color: #bfbfc5;
}

.listing-address2 {
	color: #bfbfc5;
}

.month-header {
	color: #fff; 
}




