

.navbar {
    background: #444446;
    color: #fff;
}

.navbar a {
    color: #fff;
}


.search-box {
	border: 1px solid #59595c;
}

.search-block input {
	color: #fff;
}

.search-block button {
	color: #fff;
}

.list li h3 {
	color: #fff;
}